@import "../variables.scss";

.input{
    &-primary{
        @include loginInput;
        margin: 0;
    }
    &-filter{
        padding: 15px 20px;
    }
}

.button{
    &-secondary{
        background-color: $mainLight;
        border-radius: 10px;
        padding: clamp(8px, 1%, 16px) clamp(41px, 10%, 123px);
        color: $mainBgColor;
        font-size: max(16px, 1.2rem);
        font-weight: 700;
        margin: max(70px, 5%) 0 max(15px, 2%) 0;
        text-align: center;
    }
}

.pagination-container{
    display: grid;
    margin-top: 10%;
    margin-bottom: 0%;
    &>.pagination{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 150px;
        height: 50px;
        justify-self: center;
        &>.page-number{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
            border: $darkDarkMainColor 1px solid;
            font-weight: 400;
            font-size: max(16px, 1.1rem);
            width: 100%;
            height: 100%;
            transition: .5s cubic-bezier(0.25, 0.46, 0.45, 1);
            &:hover{
                background-color: $ig-blue;
                color: $mainBgColor;
            }
            &:nth-child(1){
                border-radius: 10px 0 0 10px;
            }
            &:last-child{
                border-radius: 0 10px 10px 0;
            }
        }
    }
}