@import "../variables.scss";

.input{
    &-primary{
        @include loginInput;
        margin: 0;
    }
    &-filter{
        padding: 15px 20px;
    }
}

.button{
    &-secondary{
        background-color: $mainLight;
        border-radius: 10px;
        padding: clamp(8px, 1%, 16px) clamp(41px, 10%, 123px);
        color: $mainBgColor;
        font-size: max(16px, 1.2rem);
        font-weight: 700;
        margin: max(70px, 5%) 0 max(15px, 2%) 0;
        text-align: center;
    }
}

.pagination-container{
    display: grid;
    margin-top: 2%;
    margin-bottom: 0%;
    &>.pagination{
        list-style: none;
        display: flex;
        justify-content: space-between;
        height: 50px;
        column-gap: 15px;
        justify-self: center;
        align-items: center;
        font-size: max(16px, 1.1rem);
        color: $mainLight;
        font-weight: 500;
        &>img{
            cursor: pointer;
            transition: .4s;
                opacity: .9;
                &:hover{
                filter: hue-rotate(-10deg);
                opacity: 1;
            }
        }
        &>.page-number:not(p){
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
            // border: $darkDarkMainColor 1px solid;
            font-weight: 500;
            font-size: max(16px, 1.1rem);
            width: 50px;
            height: 50px;
            transition: .5s cubic-bezier(0.25, 0.46, 0.45, 1);
            border-radius: 8px;
            color: $mainLight;
            @include box-shadow_dark-white;
        }
        &>.page-number-active{
            box-shadow: inset -5px -5px 10px rgb(255, 255, 255),  inset 5px 5px 10px #273e7793 !important;
            transition: 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
            &:focus{
                box-shadow: inset -5px -5px 5px rgb(255, 255, 255),  inset 5px 5px 5px #273e7793;
            }
            &:focus-visible{
                box-shadow: inset -5px -5px 5px rgb(255, 255, 255),  inset 5px 5px 5px #273e7793 !important;
                }
        }
    }
}