$mainBgColor: #D7D9DD;
$mainColor: #4069C9;
$mainLight: #2967FE;
$darkMainColor: #303135;
$darkMainColorSecondary: #3E4657;
$mainBgColorLight: #D7D8DD;
$darkDarkMainColor: #272B34;
$modalBgColor: rgba(0, 0, 0, 0.76);